body {
	background-color: #f2f2f2;
}

footer {
	background-color:white;
	padding:15px 0px;
	border-top:1px solid black;
}

#main {
	background-color: #fff;
	padding-bottom: 15px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.advanced {
  color: #336600;
  border: 1px solid #336600;
  background-color: #d9ffb3;
}

.intermediate {
  color: #996600;
  border: 1px solid #996600;
  background-color: #ffeecc;
}

.skills * {
  margin-top: 6px;
  padding: 3px;
  border-radius: 3px;
  display: inline-block;
}

.skills {
  margin-top: -6px;
}

.one-line-contact {
  color: #000;
  border: 1px solid #666666;
  background-color: #e6e6e6;
  padding: 3px;
  display: inline-block;
  border-radius: 2px;
}

.panel-default .panel-heading {
  background-color: #ddd;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0px 15px;
  /* opacity: 0.3; */
  background-color: rgba(0, 0, 0, 0.3);
  transition: .5s ease;
}

.overlay:hover {
  /* opacity: 0.8; */
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}